html,
#root,
body {
  height: 100%;
  background-color: #F1F6F9;
}

/* stylelint-disable */
.Mui-error /* stylelint-enable */ > * {
  color: red !important;
}

@media print {
  html,
  #root,
  body {
    background-color: #fff;
  }
}

